
%bread__cont_{
	@extend .clearfix;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		display: inline-block;
		vertical-align: top;
		float: left;
		list-style: none;
		&:after{
			content: '';
			display: inline-block;
			vertical-align: top;
			margin: 0 8px 0 9px;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	a{
		&:hover{

		}
	}
}

.bread__list{
	font-size: v(12);
	line-height: 1.35;
	color: $text_gray;
	margin-bottom: v(4);
	a{
		color: $text_gray;
		display: inline-flex;
		align-items: center;
		background: none;
		&:hover{
			color: var(--purple);
		}
	}
	svg{
		margin-left: v(2);
		margin-top: v(3);
		width: v(5);
		height: v(10);
		fill: currentColor;
	}

	@include media($w-lg) {
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: v(14);
		margin-bottom: v(10);
		svg{
			margin-left: v(5);
		}
	}
	@include media($w-xl) {
		font-size: v(16);
		svg{
			width: v(7);
			height: v(13);
		}
	}
}