

%btn-hov_{
	overflow: hidden;
	z-index: 5;
	&:before,
	&:after{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	&:before{
		border-radius: inherit;
		z-index: -2;
		width: 100%;
		height: 100%;
		transition: all .45s var(--ease-out);
	}

	&:after{
	/*	border-radius: 50%;
		width: 200%;
		height: 150%;
		top: 120%;
		left: -50%;
		transform: none;
		transition: all .45s var(--ease-out);
		z-index: -1;*/
	}


	&:hover{
		&:before{
			// transform: scale(.9);
		}
		&:after{
			/*top: -200%;
			transition: all .45s var(--ease-out), top 0s var(--ease-out);
			transform: translateY(125%);*/
		}
	}
}
%btn-scale_{
	overflow: hidden;
	z-index: 5;
	&:before,
	&:after{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		transition: all .25s var(--ease-out);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&:before{
		border-radius: inherit;
		z-index: -2;
	}

	&:after{
		border-radius: 50%;
		transform: scale(0);
		z-index: -1;
	}


	&:hover{
		&:before{
			transform: scale(1);
			top: 0;
		}
		&:after{
			transform: none;
			top: 0;
		}
	}
}
%btn_{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: .3s var(--ease-out);
	position: relative;
	text-decoration: none !important;
	border: none;
	background: transparent;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
		transition: inherit;
		transform: none;
	}

	&:hover{

	}
	&:active{

	}

	/*span{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 5;
		text-decoration: none;
		transition: .2s var(--ease-out);
		color: currentColor;
	}*/


}
.btn-fill{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 50%;
	width: 200%;
	height: 150%;
	top: 120%;
	left: -50%;
	// transform: none;
	// transition: all .45s var(--ease-out);
	z-index: -1;

	width: 150%;
	height: 200%;
	border-radius: 50%;
	top: -50%;
	left: -25%;
}

.btn-outer{
	&:hover{
		.btn{

		}
	}
}
.btn{
	--btn-trans: .3s var(--ease-out);
	@extend %btn_;
	@extend %btn-hov_;
	min-height: v(50);
	border-radius: v(25);
	color: #8B63A4;
	padding: 0 v(20);
	transition: .3s;
	text-transform: uppercase;
	line-height: 1.35;
	font-size: v(13);
	letter-spacing: 0.1em;
	transition: var(--btn-trans);

	&:before{
		background: $back;
	}
	&:after{
		background: $purple;
	}
	&-fill{
		background: var(--purple);
	}


	svg{
		transition: inherit;
		fill: $line_gray_dark;
	}

	&:hover{
		color: #fff;
		svg{
			fill: #fff;
		}
	}

	@include media($w-lg) {
		min-height: v(70);
		border-radius: v(35);
		padding: 0 v(40);
		font-size: v(16);
	}
	@include media($w-xl) {
		min-height: v(80);
		border-radius: v(40);
		padding: 0 v(48);
		font-size: v(20);
	}
}

.btn-arrow{
	&-icon{
		svg{
			transition: .3s var(--ease-out);
			will-change: transform;
			transform-origin: 50% 50% 0.5em;
			transition: var(--btn-arrow-transition);
			&:nth-child(1){
				transform: rotate3d(0, 0, 0, 90deg);
			}
			&:nth-child(2){
				transform: rotate3d(1, 0, 0, 90deg);
				opacity: 0;
			}
		}
	}

	&:hover .btn-arrow-icon,
	&-icon:hover{
		svg{
			&:nth-child(1){
				opacity: 0;
				transform: rotate3d(-1, 0, 0, 90deg);
			}
			&:nth-child(2){
				opacity: 1;
				transform: rotate3d(0, 0, 0, 90deg);
			}
		}
	}
}

.btn-scale{
	@extend %btn-scale_;
}


.btn-circle{
	color: $text_purple;
	padding: 0;
	&:before,
	&:after{
		display: none;
	}
	&:hover{
		color: $text_purple;
		.btn-icon{
			&:after{
				top: -200%;
				transition: all .45s var(--ease-out), top 0s var(--ease-out);
				transform: translateY(125%);
			}
		}
	}
	.btn-icon{
		margin-right: v(10);
	}

	&-light{
		.btn-icon{
			&:before{
				background: $back;
			}
			&:after{
				background: $purple;
			}
			.btn-fill{
				background: var(--purple);
			}
			svg{
				fill: $line_gray_dark;
			}
		}
		&:hover{
			.btn-icon{
				svg{
					fill: #fff;
				}
			}
		}
	}

	@include media($w-lg) {
		.btn-icon{
			margin-right: v(20);
		}
	}
}
.btn-icon{
	@extend %btn_;
	// @extend %btn-hov_;
	border-radius: 50%;
	color: #fff;
	transition: inherit;
	width: v(40);
	height: v(40);
	overflow: hidden;
	position: relative;
	&:before{
		background: $purple;
		z-index: -2;
	}

	svg{
		fill: #fff;
		// transition: inherit;
		width: v(16);
		height: v(13);
	}

	@include media($w-lg) {
		width: v(50);
		height: v(50);
	}
	@include media($w-xl) {
		width: v(80);
		height: v(80);
		svg{
			width: v(22);
			height: v(20);
		}
	}
}
.btn-share{
	@extend %btn-hov_;
	border-radius: 50%;
	transition: inherit;
	padding: 0;
	color: $line_gray_dark;
	transition: .3s var(--ease-out);
	width: v(40);
	height: v(40);
	min-height: 0;

	&:before{
		background: $back;
	}

	svg{
		fill: currentColor;
		transition: inherit;
		width: v(14);
		height: v(18);
	}

	@include media($w-lg) {
		width: v(60);
		height: v(60);
		svg{
			width: v(22);
			height: v(27);
		}
	}
}

.btn-more{
	&-icon{
		width: v(16);
		height: v(13);
		position: relative;
		margin-left: v(8);
		svg{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: .3s var(--ease-out);
			will-change: transform;
			transform-origin: 50% 50% 0.5em;
			transition: .6s cubic-bezier(0.38, 0.005, 0.215, 1);
			&:first-child{
				// transform: translateY(0);
				transform: rotate3d(0, 0, 0, 90deg);
			}
			&:last-child{
				transform: rotate3d(1, 0, 0, 90deg);
				opacity: 0;
				// transform: translateY(100%);
			}
		}
	}

	&:hover{
		.btn-more-icon{
			svg{
				&:first-child{
					opacity: 0;
					transform: rotate3d(-1, 0, 0, 90deg);
				}
				&:last-child{
					opacity: 1;
					transform: rotate3d(0, 0, 0, 90deg);
				}
			}
		}
	}

	@include media($w-xl) {

		&-icon{
			width: v(19);
			height: v(16);
			margin-left: v(15);
		}
	}
}
.btn-trans{
	&:before{
		background: transparent;
		border: 1px solid $back;
	}
}
.btn-white{
	color: $text_purple;

	&:before{
		background: #fff;
	}

	&.btn-trans{
		color: #fff;
		&:before{
			background: transparent;
			border: 1px solid rgba(255, 255, 255, 0.25);
		}
	}

}

.btn-plus{
	width: v(40);
	height: v(40);
	min-height: v(40);
	padding: 0;
	color: $line_gray_dark;
	transition: .3s var(--ease-out);

	svg{
		&:nth-child(1){
			width: v(11);
			height: v(11);
		}
		&:nth-child(2){
			opacity: 0;
			height: v(1);
			width: v(11);
		}
	}

	&.active{
		svg{
			&:nth-child(1){
				opacity: 0;
			}
			&:nth-child(2){
				opacity: 1;
			}
		}
	}


	@include media($w-lg) {
		width: v(60);
		height: v(60);
		min-height: v(60);
		svg{
			&:nth-child(1){
				width: v(20);
				height: v(20);
			}
			&:nth-child(2){
				height: v(2);
				width: v(20);
			}
		}
	}
}