%title_{
	h1,
	h2{
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		margin: 0;
		padding: 0;
	}
}


.title{
	@extend %title_;
	line-height: 1.2;
	font-family: $font_title;
	font-size: v(34);
	font-weight: 400;
	margin-bottom: v(30);

	&-md{
		font-size: v(32);
	}
	&-appear{
		.unwrap{
			display: inline-flex;
			overflow: hidden;
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					.upwrap{
						transition-delay: calc( ( #{$i} - 1 )  * .1s);
					}
				}
			}
		}	
		.upwrap{
			display: inline-block;
			will-change: transform;
			transform: translate3d(0, calc(100% + 0.25em), 0);
			transition: transform .7s cubic-bezier(.445,.05,.55,.95);
		}
		
		&.anim-active{
			.upwrap{
				transform: translate3d(0, 0, 0);
			}
		}
	}

	@include media($w-md) {
		font-size: v(44);
		&-md{
			font-size: v(40);
		}
	}
	@include media($w-lg) {
		font-size: v(55);
		&-md{
			font-size: v(50);
		}
	}
	@include media($w-xl) {
		font-size: v(66);
		&-md{
			font-size: v(60);
		}
		&-xl{
			font-size: v(78);
		}
	}
}
.content__title{

	@include media($w-xl) {
		max-width: v(1200);
	}
}

.more{
	margin-top: v(15);


	@include media($w-xl) {
		margin-top: v(20);
	}
}
.thide{
	&__hidden{
		display: none;
		& > *{
			&:last-child{
				margin-bottom: 0 !important;
			}
		}
	}
}

.navline{
	--anim-delay: 0s;
	font-size: v(13);
	line-height: 1.35;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	white-space: nowrap;
	margin-top: v(-7);
	position: relative;
	z-index: 10;

	&__inner{
		display: flex;
		margin: 0 v(-20);
		padding: 0 v(20);
	}

	&__list{
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		flex: auto;
		& > li{
			margin-right: v(20);

			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					transition-delay: calc( var(--anim-delay) +  ( #{$i} - 1 )  * .15s);
				}
			}

			&:last-child{
				margin-right: 0 !important;
			}
		}
	}
	a{
		color: $text_gray;
		display: inline-flex;
		margin-bottom: -1px;
		background-image: linear-gradient($purple,$purple);
		padding-bottom: v(8);
		&:hover,
		&.active{
			color: var(--color-main);
		}
		&.active{
			background-size: 100% 1px;
			background-position: 0 100%;
		}
	}
	&__more{
		display: none;
		margin-right: 0!important;
		margin-left: auto;
		position: relative;
		&:hover{
			.navline{
				&__more_list{
					opacity: 1;
					visibility: visible;
					transform: scaleY(1);
					li{
						transition: .5s ease;
						transform: none;
						opacity: 1;
						@for $i from 0 through 20 {
							&:nth-child(#{$i}) {
								transition-delay: calc( #{$i}  * .1s + .2s);
							}
						}
					}
				}
			}
		}
	}
	&__more_list{
		position: absolute;
		top: 100%;
		right: 0;
		border: 1px solid var(--line_gray_soft);
		background: #fff;
		padding: v(20);
		display: flex;
		flex-flow: column;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		transform: scaleY(0);
		will-change: transform;
		transform-origin: center 0;
		transition: .3s ease-out;
		max-width: 50vw;
		li{
			margin-bottom: v(10);
			opacity: 0;
			transform: translateY(-10px);
			will-change: transform;
			transition: 0s;
		}
		a{
			background: transparent;
			padding: 0;
			&:hover{
				color: var(--purple);
			}
		}
	}

	@include media-max($w-md) {
		&__inner{
			overflow: auto;
			-ms-overflow-style: none;  
			scrollbar-width: none;
			&::-webkit-scrollbar { 
				width: 0;  
				height: 0;
				background: transparent;  
			}
		}

	}
	@include media($w-md) {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		&__inner{
			margin: 0;
			padding: 0;
		}
		&__list{
			border-bottom: 1px solid $line_gray_soft;
		}
	}
	@include media($w-xl) {
		font-size: v(20);
		margin-top: v(39);
		&__list{
			& > li{
				margin-right: v(39);
			}
		}
		a{
			padding-bottom: v(15);
		}
		&__more_list{
			max-width: v(520);
			padding: v(40);
		}
	}
}

.content__row{

	@include media($w-xl) {
		flex-wrap: nowrap;
		margin-left: v(-50);
		margin-right: v(-50);

	}
}
.content__data{
	flex: auto;

	@include media($w-xl) {
		padding: 0 v(50);
	}
}
.content__aside{

	@include media($w-xl) {
		flex: 0 0 35.15%;
		max-width: 35.15%;
		padding: 0 v(50);
	}
}