@font-face {
	font-family: 'Anglecia Pro Display';
	src: url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Regular.eot');
	src: url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Regular.woff2') format('woff2'),
	url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Regular.woff') format('woff'),
	url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anglecia Pro Display';
	src: url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Italic.eot');
	src: url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Italic.woff2') format('woff2'),
	url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Italic.woff') format('woff'),
	url('../fonts/AngleciaProDisplay/AngleciaProDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
	src: url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot');
	src: url('../fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-RegularItalic.eot');
	src: url('../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-MediumItalic.eot');
	src: url('../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
	url('../fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}