.footer{
	background: $back;
	overflow: hidden;

	&__in{
		padding-top: v(97);
		padding-bottom: v(58);
		will-change: transform;
	}

	@include media($w-xl) {

		&__in{
			padding-top: v(194);
			padding-bottom: v(115);
		}
	}
}
.toTop{
	left: auto;
	position: absolute;
	z-index: 99;
	right: v(20);
	top: v(-3);

	@include media($w-xl) {
		right: v(15);
		top: v(6);
	}
}
.foot__top{

}

.foot__left{
	margin-top: v(59);

	@include media($w-md) {
		margin-top: 0;
		order: 1;
		padding-top: v(14);
	}
}
.foot__right{

	@include media($w-md) {
		order: 2;
	}
	@include media($w-xl) {
		padding-left: v(40);
	}
}
.foot__menu{
	font-size: v(28);
	line-height: 1.35;
	font-family: $font_title;

	li{
		margin-bottom: v(20);
	}

	.link{
		color: #000;
		background: transparent;
		&:hover{
			color: var(--text-purple);
		}
	}

	@include media($w-lg) {
		font-size: v(36);
	}
	@include media($w-xl) {
		font-size: v(46);
		li{
			margin-bottom: v(30);
		}
	}
}
.foot__lang{
	font-size: v(14);
	line-height: 1.35;
	color: rgba(#000, .65);
	margin-top: v(34);
	li{
		&:after{
			content: '/';
			margin: 0 v(10);
			color: #000;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	.link{
		color: #000;
		background: none;
		&:hover{
			color: var(--text-purple);
		}
	}

	@include media($w-lg) {
		font-size: v(18);
	}
	@include media($w-xl) {
		font-size: v(20);
		margin-top: v(40);
	}
}
.foot__address{
	line-height: 1.35;
	margin-bottom: v(30);
	&-city{
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: v(13);
		color: $text_gray;
	}
	&-info{
		font-size: v(14);
		margin-top: v(11);
		li{
			margin-bottom: v(5);
		}
		a{
			@extend .link;
			color: #000;
			background: transparent;
			&:hover{
				color: var(--text-purple);
			}
		}
	}

	@include media($w-md) {
		&-city{
			font-size: v(16);
			margin-bottom: v(10);
		}
		&-info{
			margin-top: 0;	
		}
	}
	@include media($w-lg) {
		margin-bottom: v(45);
		max-width: v(320);
		&-city{
			font-size: v(18);
			margin-bottom: v(15);
		}
		&-info{
			font-size: v(16);
		}
	}
	@include media($w-xl) {
		margin-bottom: v(62);
		max-width: v(400);
		&-city{
			font-size: v(20);
			margin-bottom: v(18);
		}
		&-info{
			font-size: v(20);
		}
	}
}
.foot__btn{

}

.foot__bottom{
	font-size: v(14);
	line-height: 1.35;
	align-items: center;
	justify-content: space-between;
	margin-top: v(60);

	@include media($w-lg) {
		margin-top: v(80);
		font-size: v(16);
	}
	@include media($w-xl) {
		font-size: v(20);
		margin-top: v(128);
	}
}
.foot__copy{
	color: $text_gray;

	@include media($w-xl) {

	}
}
.foot__link{
	margin-top: v(20);
	a{
		color: #000;
		background: transparent;
		&:hover{
			color: var(--text-purple);
		}
	}

	@include media($w-md) {
		margin-top: 0;
	}
	@include media($w-xl) {
		padding-left: v(40);
		margin-top: 0;
	}
}
.foot__dev{
	line-height: 1;
	margin-top: v(40);
	img{
		width: v(72);
	}

	@include media($w-md) {
		padding: 0;
		margin-top: 0;
		img{
			width: auto;
		}
	}
	@include media($w-xl) {
		padding: 0 v(15) 0 v(10);
		text-align: right;
		img{
			width: auto;
		}
	}
}