.link_outer{
	text-decoration: none!important;
	&:hover,
	&:active{
		.link{
			background-size: 100% 1px;
			background-position: 0 100%;
		}
		.link_u{
			background-position: 0 100%;
			background-size: 0 1px;
		}
	}
}

.link{
	--link-transition: background-size .3s var(--ease-out), background-position .3s var(--ease-out), color .2s var(--ease-out), opacity .3s var(--ease-out);
	text-decoration: none !important;

	background-image: linear-gradient(currentColor,currentColor);
	background-position: 0% 100%;
	background-size: 0 1px;
	background-repeat: no-repeat;
	transition: var(--link-transition);
	padding-bottom: v(3);

	&:hover{
		color: inherit;
		background-size: 100% 1px;
		background-position: 0 100%;
	}

}
.link_u{
	background-size: 100% 1px;
	background-position: 0 100%;
	&:hover{
		background-position: 0 100%;
		background-size: 0 1px;
	}
}

