.fancy-mmenu{
	.fancybox-slide{
		padding: 0 !important;
	}
}
.mmenu__show{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: v(36);
	height: v(36);
	color: #000;

	&:before,
	&:after{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		height: 1px;
		background: currentColor;
		right: v(6);
	}
	&:before{
		width: v(25);
		top: v(15);
	}
	&:after{
		width: v(15);
		top: v(20);
	}
}	

.mmenu__cont{

	@include media($w-xl) {
		.modal__address{
			margin-top: v(78);
		}
	}
}
.mmenu__menu{
	font-size: v(28);
	line-height: 1.35;
	font-family: $font_title;
	li{
		margin-bottom: v(20);
	}
	a{
		color: #fff;
		background: none;
		&:hover{
			color: var(--text-purple);
		}
	}

	@include media($w-lg) {
		font-size: v(38);
	}
	@include media($w-xl) {
		font-size: v(46);
		li{
			margin-bottom: v(25);
		}
	}
}
.mmenu__btn{
	margin-top: v(24);

	@include media($w-xl) {
		margin-top: v(31);
	}
}