*{
	box-sizing: border-box;
	outline: none!important;
	-webkit-tap-highlight-color:  transparent;
}
img{
	max-width: 100%;
}

.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
	width: 100%;
}
.container{
	@extend .clearfix;
}

html{
	font-size: 16px;
}