.section_article{

	&.active{
		.article__info,
		.article__data{
			opacity: 1;
		}
	}

	padding-bottom: v(101);
	.content__title{
		font-size: v(26);
		margin-bottom: v(22);
	}

	@include media($w-md) {
		.content__title{
			font-size: v(32);
			margin-bottom: v(30);
		}
	}
	@include media($w-lg) {
		padding-bottom: v(130);
		.container{
			max-width: v(950);
			padding-left: v(50);
		}	
		.content__title{
			font-size: v(46);		
		}
	}
	@include media($w-xl) {
		padding-bottom: v(184);
		margin-top: v(-40);
		.container{
			max-width: v(1310);
			padding-left: v(95);
		}	
		.content__title{
			font-size: v(66);
		}
	}
}
.article__info{
	color: $text_gray;
	font-size: v(13);
	line-height: 1.35;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-left: v(-7);
	margin-right: v(-8);
	padding-bottom: v(21);
	position: relative;

	transition: var(--appear-trans);
	opacity: 0;
	transition-delay: .2s;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		left: v(7);
		right: v(8);
		bottom: 0;
		background: $line_gray_soft;
		height: 1px;
	}

	li{
		padding: 0 v(8) 0 v(7);
		margin-bottom: v(10);
	}
	&_point{
		display: inline-flex;
		align-items: center;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: v(3);
			height: v(3);
			border-radius: 50%;
			background: $line_gray_soft;
		}
	}

	@include media($w-lg) {
		margin-top: v(20);
		font-size: v(16);
	}
	@include media($w-xl) {
		margin-top: v(37);
		font-size: v(18);
		margin-left: v(-15);
		margin-right: v(-15);
		padding-bottom: v(15);
		&:before{
			left: v(15);
			right: v(15);
		}
		li{
			padding: 0 v(15);
			margin-bottom: v(15);
		}
		&_point{
			width: v(5);
			height: v(5);
		}
	}
}
.article__data{
	position: relative;
	transition: var(--appear-trans);
	opacity: 0;
	transition-delay: .4s;

	@include media($w-md) {
		margin-top: v(50);
	}
	@include media($w-lg) {
		padding-right: v(80);
	}
	@include media($w-xl) {
		margin-top: v(74);
		padding-right: v(160);
	}
}
.article__share{
	margin-top: v(20);

	.ya-share2__link_more{
		@extend .btn;
		@extend .btn-scale;
		@extend .btn-share;
		.ya-share2__badge_more{
			width: 100%;
			height: 100%;
		}
		.ya-share2__icon_more{
			width: 100%!important;
			height: 100%!important;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 223 274' width='14' height='18' fill='none' fill-rule='evenodd' clip-rule='evenodd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M187.522 61.136c13.996 0 25.341-11.345 25.341-25.34 0-13.996-11.345-25.341-25.341-25.341-13.995 0-25.341 11.345-25.341 25.34 0 13.996 11.346 25.341 25.341 25.341Zm0 10.137c19.594 0 35.477-15.884 35.477-35.478 0-19.593-15.883-35.477-35.477-35.477-19.593 0-35.477 15.884-35.477 35.477 0 5.04 1.051 9.834 2.945 14.175l-93.924 62.616c-6.455-6.721-15.534-10.905-25.589-10.905C15.884 101.681 0 117.565 0 137.159c0 19.593 15.884 35.477 35.477 35.477 9.591 0 18.293-3.806 24.679-9.99l95.719 59.825a35.337 35.337 0 0 0-3.83 16.052c0 19.593 15.884 35.477 35.477 35.477 19.594 0 35.477-15.884 35.477-35.477 0-19.594-15.883-35.478-35.477-35.478-10.165 0-19.332 4.276-25.8 11.127l-95.336-59.585a35.317 35.317 0 0 0 4.569-17.428c0-6.448-1.72-12.494-4.727-17.704l93.128-62.086c6.485 8.454 16.689 13.904 28.166 13.904Zm0 192.591c13.996 0 25.341-11.346 25.341-25.341 0-13.996-11.345-25.341-25.341-25.341-13.995 0-25.341 11.345-25.341 25.341 0 13.995 11.346 25.341 25.341 25.341ZM60.818 137.159c0 13.995-11.345 25.341-25.34 25.341-13.996 0-25.342-11.346-25.342-25.341 0-13.996 11.346-25.341 25.341-25.341 13.996 0 25.341 11.345 25.341 25.341Z' fill='%237B5784'/%3E%3C/svg%3E")!important;
			background-size: v(14) v(18)!important;
			background-position: center center;
		}
		&:hover{
			.ya-share2__icon_more{
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 223 274' width='14' height='18' fill='none' fill-rule='evenodd' clip-rule='evenodd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M187.522 61.136c13.996 0 25.341-11.345 25.341-25.34 0-13.996-11.345-25.341-25.341-25.341-13.995 0-25.341 11.345-25.341 25.34 0 13.996 11.346 25.341 25.341 25.341Zm0 10.137c19.594 0 35.477-15.884 35.477-35.478 0-19.593-15.883-35.477-35.477-35.477-19.593 0-35.477 15.884-35.477 35.477 0 5.04 1.051 9.834 2.945 14.175l-93.924 62.616c-6.455-6.721-15.534-10.905-25.589-10.905C15.884 101.681 0 117.565 0 137.159c0 19.593 15.884 35.477 35.477 35.477 9.591 0 18.293-3.806 24.679-9.99l95.719 59.825a35.337 35.337 0 0 0-3.83 16.052c0 19.593 15.884 35.477 35.477 35.477 19.594 0 35.477-15.884 35.477-35.477 0-19.594-15.883-35.478-35.477-35.478-10.165 0-19.332 4.276-25.8 11.127l-95.336-59.585a35.317 35.317 0 0 0 4.569-17.428c0-6.448-1.72-12.494-4.727-17.704l93.128-62.086c6.485 8.454 16.689 13.904 28.166 13.904Zm0 192.591c13.996 0 25.341-11.346 25.341-25.341 0-13.996-11.345-25.341-25.341-25.341-13.995 0-25.341 11.345-25.341 25.341 0 13.995 11.346 25.341 25.341 25.341ZM60.818 137.159c0 13.995-11.345 25.341-25.34 25.341-13.996 0-25.342-11.346-25.342-25.341 0-13.996 11.346-25.341 25.341-25.341 13.996 0 25.341 11.345 25.341 25.341Z' fill='%23fff'/%3E%3C/svg%3E")!important;
			}
		}
	}
	@include media($w-lg) {
		position: absolute;
		top: v(5);
		right: 0;
		margin-top: 0;
		.ya-share2__link_more{
			.ya-share2__icon_more{
				background-size: v(22) v(27)!important;
			}
		}
	}
}

.artrel{
	&__cont{
		border-top: 1px solid $line_gray_soft;
		margin-top: v(29);
		padding-top: v(30);
	}
	&__title{
		text-transform: uppercase;
		color: $text_gray;
		letter-spacing: 0.1em;
		line-height: 1.35;
		font-size: v(13);
		margin-bottom: v(21);
	}
	&__row{
		margin-bottom: v(-40);
	}
	&__outer{
		margin-bottom: v(40);
	}
	&__item{
		display: flex;
		flex-flow: column;
		text-decoration: none !important;
		color: var(--color-main);
		line-height: 1.35;
		&:hover{
			color: $text_purple;
		}
	}
	&__img{
		font-size: 0;
		padding-bottom: 69.375%;
		position: relative;
		overflow: hidden;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name{
		margin-top: v(10);
		margin-bottom: v(10);
	}
	&__read{
		text-transform: uppercase;
		color: $purple;
		letter-spacing: 0.1em;
		font-size: v(14);
	}

	@include media($w-lg) {
		&__cont{
			margin-top: v(100);
			padding-top: v(100);
		}
		&__title{
			font-size: v(16);
		}
		&__row{
			margin-top: v(30);
		}
		&__img{
			padding-bottom: 55.173%;
		}
		&__name{
			margin-top: v(20);
			margin-bottom: v(20);
			font-size: v(20);
		}
		&__read{
			font-size: v(16);
		}
	}

	@include media($w-xl) {
		&__cont{
			margin-top: v(159);
			padding-top: v(121);
		}
		&__title{
			font-size: v(20);
		}
		&__row{
			margin-top: v(40);
		}
		&__name{
			font-size: v(26);
		}
		&__read{
			font-size: v(20);
		}
	}
}