.dark-mode{
	.section_modspec{
		.modspec__tab{
			--tab-active: #fff;
			--link-color: var(--purple);
		}
	}
}
.section_modspec{
	position: relative;
	z-index: 10;
	padding-top: v(97);
	padding-bottom: v(98);

	@include media($w-xl) {
		padding-top: v(272);
		padding-bottom: v(143);
	}
}
.modspec__cont{
	--pos-top: -20;
	--pos-left: -120;
	--pos-bottom: -140;
	--width: 350;
	position: relative;

	&:before{
		content: '';
		display: none;
		vertical-align: top;
		position: absolute;
		width: calc(var(--width) * var(--fz));
		top: calc(var(--pos-top) * var(--fz));
		left: calc(var(--pos-left) * var(--fz));
		bottom: calc(var(--pos-bottom) * var(--fz));
		background: var(--back);
	}

	@include media($w-lg) {
		--pos-top: -73;
		--pos-left: -160;
		--pos-bottom: -226;
		--width: 600;
		padding-left: v(280);
		&:before{
			display: inline-block;
		}
	}
	@include media($w-xl) {
		padding-left: v(560);
	}
}
.modspec__tabs{

	margin: 0 v(-10);
	li{
		padding: 0 v(10);
	}

	@include media($w-xl) {
		margin: 0 v(-30);
		li{
			padding: 0 v(30);
		}
	}
}
.modspec__tab{
	--tab-color: var(--text_gray_light);
	--tab-active: #000;
	font-family: $font_title;
	color: var(--tab-color);
	line-height: 1.2;
	font-size: v(34);
	padding-bottom: v(13);

	&:hover,
	&.active{
		color: var(--tab-active);
		background-size: 0% 1px;
		background-position: 0 100%;
	}

	@include media($w-lg) {
		font-size: v(45);
	}
	@include media($w-xl) {
		font-size: v(66);
		padding-bottom: v(15);
	}
}
.modspec__content{
	margin-top: v(53);

	@include media($w-xl) {
		margin-top: v(76);
	}
}
.modspec__pane{

}
.modspec__list{
	li{
		margin-bottom: v(16);
	}

	@include media($w-md) {
		column-count: 2;
		column-gap: v(60);
	}
	@include media($w-lg) {
		column-gap: v(80);
		li{
			margin-bottom: v(20);
		}
	}
}
.modspec__item{
	--time: 1s;
	font-size: v(16);
	line-height: 1.35;
	text-decoration: none !important;
	color: var(--color-main);
	z-index: 1;

	&.hover{
		color: var(--color-hover);
		z-index: 5;
		span{
			opacity: 1;
			visibility: visible;
			transition: visibility var(--time) var(--ease), clip-path var(--time) var(--ease), opacity var(--time);
			// clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			animation: var(--time) modspec;
			img{
				transform: scale(1);
			}
		}
	}

	span{
		content: '';
		display: none;
		vertical-align: top;
		position: absolute;
		background-size: cover;
		background-position: center center;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		transition: opacity .2s var(--ease);
		// clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		// transition: var(--time) var(--ease);

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: var(--time) var(--ease);
			transform: scale(1.25);
		}
	}

	@include media($w-lg) {
		span{
			display: inline-block;
			width: calc(var(--width) * var(--fz));
			top: calc(var(--pos-top) * var(--fz));
			left: calc(var(--pos-left) * var(--fz));
			bottom: calc(var(--pos-bottom) * var(--fz));
		}
	}
	@include media($w-xl) {
		font-size: v(26);
		span{
			// height: v(978);
		}
	}
}

@include keyframes(modspec) {
	0% {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}