.dark-mode{
	.spec__title{
		color: var(--text_gray_light);
	}
	.spec__list{
		li{
			&:before{
				opacity: 0.4;
			}
			&:last-child{
				&:after{
					opacity: 0.4;
				}
			}
		}
	}
	.spec__item{
		&.unhover{
			color: var(--text_gray_light);
			span{
				&:before{
					color: var(--text_gray_light);
				}
			}
		}
	}
}
.section_spec{
	padding-bottom: v(60);
	@include media($w-xl) {
		padding-bottom: v(162);
	}
}
.spec__cont{
	--anim-delay: 0s;
	margin-top: v(43);

	&.anim-active{
		.spec__item{
			opacity: 1;
		}
	}


	@include media($w-xl) {
		margin: v(89) v(-40) 0;
	}
}
.spec__col{
	margin-bottom: v(40);
	@include media($w-xl) {
		padding: 0 v(40);
	}
}
.spec__title{
	font-size: v(13);
	line-height: 1.35;
	letter-spacing: 0.1em;
	color: $text_gray;
	text-transform: uppercase;
	margin-bottom: v(20);

	@include media($w-lg) {
		font-size: v(16);
		margin-bottom: v(30);
	}
	@include media($w-xl) {
		font-size: v(20);
		margin-bottom: v(39);
	}
}
.spec__list{
	font-size: v(16);
	line-height: 1.35;
	display: flex;
	flex-flow: column;
}
.spec__item{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: v(11) 0;
	position: relative;
	color: var(--color-main);
	text-decoration: none !important;
	z-index: 5;
	transition: all 0s, color .3s ease-out;
	cursor: none;
	opacity: 0;




	&:last-child{
		&:after{
			display: inline-block;
		}
	}

	&.hover{
		z-index: 10;
		.spec__name{
			&:before{
				color: var(--color-main);
			}
		}
		.spec__img{
			&:before{
				opacity: 1;
			}
			img{
				transform: scale(1);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
		}
	}
	&.washover{
		z-index: 7;
		.spec__img{
			&:before{
				transition-delay: .6s;
			}
		}
	}
	&.unhover{
		color: $text_gray;
		z-index: 5;
		.spec__img{
			&:before{
				transition-delay: .6s;
			}
		}
		.spec__name{
			&:before{
				color: $text_gray;
			}
		}
	}

	@include media($w-lg) {
		--pos_image: calc(#{v(270)} - #{v(14)});
		font-size: v(20);
		padding: v(15) 0;
		&:hover{
			.spec__name{
				&:after{
					opacity: 1;
					color: #fff;
				}
			}
		}

		
	}
	@include media($w-xl) {
		--pos_image: calc(#{v(360)} - #{v(28)});
		font-size: v(26);
		padding: v(20) 0 v(21);
	}
}
.spec__line{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	position: relative;
	height: 0;
	z-index: -10;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: $line_gray_soft;
		z-index: -100;
	}

	&:last-child{

		&:after{
			content: '';
			display: inline-block;
			vertical-align: top;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: $line_gray_soft;
			z-index: -100;
		}
	}
}
.spec__img{
	--ease-out: ease-out;
	position: absolute;
	position: fixed;
	top: var(--move-y);
	left: var(--move-x);
	z-index: 10;
	transition: opacity .6s var(--ease-out), visibility .6s var(--ease-out), transform .6s var(--ease-out), clip-path .6s var(--ease-out), top .4s var(--ease-out), left .4s var(--ease-out);
	pointer-events: none;
	z-index: 99;
	will-change: transform;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	transform: translate(-50%, -50%);
	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--back);
		opacity: 0;
		transition: .3s var(--ease-out);
	}


	img{
		transform: scale(1.25);
		transform-origin: 0 center;
		transition: transform .6s var(--ease-out), clip-path .6s var(--ease-out);
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}

	@include media-max($w-lg) {
		display: none!important;
	}
	@include media($w-lg) {

		// top: v(-75);
		// right: v(-14);
		img{
			width: v(270);
			height: v(405);
		}
	}
	@include media($w-xl) {
		img{
			width: v(360);
			height: v(540);
			// top: v(-112);
			// right: v(-28);
		}
	}
}
.spec__name{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
	color: transparent;
	&:before,
	&:after{
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .6s var(--ease-out);
	}
	&:before{
		color: var(--color-main);
		z-index: -5;
	}
	&:after{
		z-index: 999;
		// mix-blend-mode: color-dodge;
		mix-blend-mode: overlay;
	}

}
