
.timing__cont{
	margin-top: v(99);

	@include media($w-xl) {
		margin-top: v(191);
		margin-bottom: v(-16);
	}
}
.timing__row{
	cursor: grab;
	overflow: auto;
	display: flex;
	-ms-overflow-style: none;  
	scrollbar-width: none;
	position: relative;
	margin: v(40) calc(-1 * var(--half-padding)) v(-16);
	padding: 0 var(--half-padding);

	&::-webkit-scrollbar { 
		width: 0px;  
		background: transparent;  
	}

	&:before{
		content: '';
		height: 1px;
		background: rgba(255, 255, 255, 0.15);
		flex: auto;
		position: absolute;
		left: 0;
	}

	@include media($w-md) {
		margin-bottom: 0;
	}
	@include media($w-xl) {
		margin-top: v(90);

		&:before{
			top: calc(#{v(66)} * 1.2 / 2);
			margin-top: v(17);
			width: calc(var(--half-padding) - #{v(60)});
		}
	}
}
.timing__item{
	line-height: 1.35;
	position: relative;
	min-width: v(240);
	margin: 0 v(5);


	&:first-child{
		margin-left: 0;
		&:before{
			content: '';
			height: 1px;
			background: rgba(255, 255, 255, 0.15);
			flex: auto;
			position: absolute;
			right: 100%;
			width: calc(var(--half-padding) - #{v(5)});
			margin-right: v(5);
			top: calc(#{v(26)} * 1.2 / 2);
			margin-top: v(2);
		}
	}

	@include media($w-md) {
		min-width: v(420);
		padding-left: v(30);
		margin: 0 v(10);
		&:first-child{
			margin-left: v(-30);
			&:before{
				top: calc(#{v(36)} * 1.2 / 2);
				margin-top: v(3);
				margin-right: 0;
				width: calc(var(--half-padding) - #{v(30)});
			}
		}
	}
	@include media($w-lg) {
		min-width: v(600);
		padding-left: v(40);
		margin: 0 v(10);
		&:first-child{
			margin-left: v(-40);
			&:before{
				top: calc(#{v(45)} * 1.2 / 2);
				width: calc(var(--half-padding) - #{v(40)});
			}
		}
	}
	@include media($w-xl) {
		min-width: v(740);
		padding-left: v(60);
		margin: 0 v(10);
		&:first-child{
			margin-left: v(-60);
			&:before{
				top: calc(#{v(66)} * 1.2 / 2);
				margin-top: v(9);
				width: calc(var(--half-padding) - #{v(60)});
			}
		}
	}
}
.timing__date{
	color: $purple;
	line-height: 1.2;
	font-family: $font_title;
	display: flex;
	align-items: center;
	position: relative;
	font-size: v(26);
	padding-left: v(12);
	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		width: v(7);
		height: v(7);
		border-radius: 50%;
		border: 1px solid $purple;
		top: calc(#{v(26)} * 1.2 / 2);
		transform: translateY(-50%);
		left: 0;
		margin-top: v(3);
	}

	&:after{
		content: '';
		height: 1px;
		// background: rgba(255, 255, 255, 0.15);
		background: var(--color-main);
		opacity: .15;
		flex: auto;
		margin-right: v(-5);
		margin-left: v(6);
		margin-top: v(6);
	}


	@include media($w-md) {
		font-size: v(36);
		padding-left: 0;
		&:before{
			top: calc(#{v(36)} * 1.2 / 2);
			left: v(-20);
			margin-top: v(4);
			width: v(10);
			height: v(10);
		}
		&:after{
			margin-left: v(30);
			margin-right: v(-10);
			margin-top: v(7);
		}
	}
	@include media($w-lg) {
		font-size: v(45);
		&:before{
			top: calc(#{v(45)} * 1.2 / 2);
		}
		&:after{
			margin-top: v(12);
			margin-right: v(-10);
		}
	}
	@include media($w-xl) {
		font-size: v(66);
		&:before{
			top: calc(#{v(66)} * 1.2 / 2);
			left: v(-41);
			margin-top: v(10);
			width: v(13);
			height: v(13);
		}
		&:after{
			margin-left: v(30);
			margin-top: v(17);
		}
	}
}
.timing__sub{
	color: $text_gray_light;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: v(13);
	margin-top: v(13);

	@include media($w-md) {
		margin-top: v(20);
	}
	@include media($w-md) {
		font-size: v(16);
		margin-top: v(30);
	}
	@include media($w-xl) {
		font-size: v(20);
		margin-top: v(49);
	}
}
.timing__text{
	font-size: v(16);
	margin-top: v(5);
	color: var(--color-main);

	@include media($w-md) {
		font-size: v(18);
		margin-top: v(10);
	}
	@include media($w-lg) {
		font-size: v(20);
	}
	@include media($w-xl) {
		font-size: v(26);
		margin-top: v(14);
	}
}