.teamrev{
	position: relative;
	margin-top: v(100);
	padding-top: v(49);
	
	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: rgba(#fff, .1);
	}
	&__dots{
		display: inline-block;
		vertical-align: top;
		position: absolute;
		font-size: v(13);
		line-height: 1.35;
		letter-spacing: 0.1em;
		color: rgba(#fff, .5);
		right: 0;
		top: v(80);
		span{
			color: #fff;
		}
	}
	&__quote{
		position: absolute;
		width: v(60);
		height: v(50);
		fill: rgba(#fff, .1);
		z-index: -1;
		left: 0;
	}
	&__slider{
		margin-top: v(70);
	}
	&__slide{
		line-height: 1.35;
	}
	&__text{
		font-size: v(22);
		text-indent: v(20);
		font-family: $font_title;
	}
	&__sub{
		font-size: v(13);
		letter-spacing: 0.1em;
		color: $text_gray_light;
		text-transform: uppercase;
		margin-top: v(12);
	}

	@include media-max($w-md) {
		.nav__item{
			display: none !important;
		}
	}
	@include media($w-md) {
		
	}
	@include media($w-lg) {
		margin-top: v(130);
		padding-top: v(130);
		&__quote{
			width: v(92);
			height: v(77);
		}	
		&__dots{
			font-size: v(18);
			top: auto;
			right: auto;
			left: 0;
			bottom: 0;
		}
		&__slider{
			margin-top: 0;
			margin-left: v(200);
			.nav__item{
				margin-left: v(30);
			}
		}
		&__text{
			font-size: v(28);
			text-indent: v(40);
		}
		&__sub{
			font-size: v(16);
			margin-top: v(25);
		}
	}
	@include media($w-xl) {
		margin-top: v(200);
		padding-top: v(197);
		&__quote{
			width: v(122);
			height: v(102);
			top: v(214);
		}
		&__dots{
			font-size: v(20);
		}
		&__slider{
			margin-left: v(440);

			.nav__item{
				margin-left: v(80);
				&-next{
					margin-top: v(5);
				}
			}
		}
		&__text{
			font-size: v(42);
			text-indent: v(60);
		}
		&__sub{
			font-size: v(20);
			margin-top: v(46);
		}
	}
}
